<div class="container">
  <page-header title="'管理员'"></page-header>

  <div class="bg-white tiled">
    <ul class="tab-nav">
      <li class="active">
        <a href="admin/status">系统状态</a>
      </li>
      <li>
        <a href="admin/queries/tasks">任务队列状态</a>
      </li>
      <li>
        <a href="admin/queries/outdated">过时的查询</a>
      </li>
    </ul>

    <div class="row p-15">
      <ul class="list-group p-l-15 col-lg-4">
        <li class="list-group-item active">总览</li>
        <li class="list-group-item" ng-repeat="(name, value) in status">
          <span class="badge">{{ value }}</span>
          {{ name | toHuman }}
        </li>
      </ul>

      <ul class="list-group col-lg-4">
        <li class="list-group-item active">管理</li>
        <li class="list-group-item">
          <span
            class="badge"
            am-time-ago="manager.last_refresh_at*1000.0"
          ></span>
          最后刷新时间
        </li>
        <li class="list-group-item">
          <span class="badge" am-time-ago="manager.started_at*1000.0"></span>
          已经开始
        </li>
        <li class="list-group-item">
          <span class="badge">{{ manager.outdated_queries_count }}</span>
          过去查询统计
        </li>
      </ul>

      <ul class="list-group col-lg-4">
        <li class="list-group-item active">队列</li>
        <li class="list-group-item" ng-repeat="(name, value) in manager.queues">
          <span class="badge">{{ value.size }}</span>
          {{ name }}
          <span
            uib-popover="{{ value.data_sources }}"
            popover-trigger="'mouseenter'"
          >
            <i class="fa fa-question-circle"></i>
          </span>
        </li>
      </ul>
    </div>
    <div class="row p-15">
      <ul class="list-group col-lg-4">
        <li class="list-group-item active">Redash数据库</li>
        <li
          class="list-group-item"
          ng-repeat="(name, size) in database_metrics.metrics"
        >
          <span class="badge">{{ size[1] | prettySize }}</span>
          <span> {{ size[0] }} </span>
        </li>
      </ul>
    </div>
  </div>
</div>
